.header {
  @extend %center;
  justify-content: space-between;
  padding-top: 40px;
  padding-right: 22px;
  padding-left: 22px;
  flex-wrap: wrap;

  &__logo {
    width: 150px;
    height: 40px;
  }

  &__tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__tags > * + * {
    margin-left: 5px;
  }

  &__title {
    font-size: 1.4rem;
  }

  @media only screen and (min-width: 500px) {
    .header__title {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 700px) {
    .header__tags {
      margin-top: 10px;
      order: 1;
    }
    .header__title {
      order: 2;
      white-space: nowrap;
    }
  }
  @media only screen and (min-width: 970px) {
    .header__tags {
      margin-top: -6px;
    }
    .header__tags .tag__item {
      font-size: 1.5rem;
    }
  }
  @media only screen and (min-width: 1050px) {
    .header__title {
      font-size: 2.7rem;
    }
    .header__logo {
      width: 17rem;
      height: 4.5rem;
    }
    .header__tags .tag__item {
      font-size: 1.5rem;
    }
  }
  @media only screen and (min-width: 1200px) {
    .header__title {
      font-size: 3.6rem;
    }
    .header__logo {
      width: 20rem;
      height: 5rem;
    }
  }
}
@media only screen and (max-width: 312px) {
  .header__title {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 700px) {
  .header { 
    flex-wrap: nowrap;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 1320px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }
}
