.tag__item {
  display: flex;
  align-items: center;
  max-height: 15px;
  padding: 3px 7px;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-top: 6px;
  transition: 0.3s all;
  width: max-content;

  &:hover,
  &.active {
    color: #ffffff;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}
